<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" href="images/apple-icon-180x180.png">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="favicon.ico">

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Universal Restaurant</title>

</head>
<body>
  <header>
    <div class="header">
      <a class="skip-main" href="#home">Skip to main content</a>
      <h1 class="header-title">
        <picture>
          <source type="image/webp" srcset="assets/Universal-Restaurant-very-small.webp">
          <source type="image/png" srcset="assets/Universal-Restaurant-very-small.png">
         <source media="(max-width: 600px)" srcset="assets/Universal-Restaurant-very-small.png">
         <img src="assets/Universal-Restaurant-very-small.png" alt="Universal Restaurant">  <!-- width="50" height="50" width="180" height="100" Universal Resto Nanti diganti sama logo --> 
        </picture>
      </h1>
    </div>
    <div class="header-content">
      <div class="menu">
        <button class="menu-logo">
          <picture>
            <source type="image/webp" srcset="assets/menu-button-very-small.webp">
            <source type="image/png" srcset="assets/menu-button-very-small.png">
            <source media="(max-width: 600px)" srcset="assets/menu-button-very-small.png">
            <img src="assets/menu-button-very-small.png" alt="Button Menu">
          </picture>
        </button>
      </div>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item"><a id="nav-home" href="#home">Home</a></li>
          <li class="nav-item"><a id="nav-fav" href="/#/fav">Favorite</a></li>
          <li class="nav-item"><a id="nav-about" href="https://www.linkedin.com/in/kamila-khalishah-a12863154/">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="hero">
    <div class="hero-inner">
      <div class="hero-img">
        <picture>
          <source type="image/webp" srcset="assets/hero-image_3-large.webp">
          <source type="image/png" srcset="assets/hero-image_3-large.png">
          <source media="(max-width: 600px)" srcset="assets/hero-image_3-large.png">
        <img src="assets/hero-image_3-large.png" class="hero-img-fluid" alt="Light">
        </picture>
      </div>
    </div>
  </div>
                                   
  <main id="home" tabindex="-1">
    <section class="content">
      <article class="headline">
        <h1 class="headline-title">Explore the Restaurant</h1>
      </article>
      <div class="posts">
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-title">
      Copyright © 2022 - Universal Restaurant
    </div>
  </footer>
</body>
</html>